{{#if component}}
    <div class="input-group input-append date">
        {{input type="text" class="form-control"}}
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
{{else}}
    {{input type="text" class="form-control"}}
{{/if}}
