{{!--<div class="flipper">--}}
    {{!--<div {{bind-attr class="labelType :front"}}>--}}
        {{model.name}} <i class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="Implement communication controls" data-placement="right"></i>
    {{!--</div>--}}
    {{!--<div {{bind-attr class="labelType :back"}}>--}}
        {{!--This is the back--}}
    {{!--</div>--}}
{{!--</div>--}}
