<div class="person-well well well-sm">
    <div style="display: block; margin-bottom: 8px">
        {{#if model.label}}
            <label>
                {{model.label}}:
                {{#if model.required}}*{{/if}}
            </label>
        {{/if}}
    </div>
    {{#each fieldValueReadOnly}}
        {{person-item model=this}}
    {{/each}}
</div>

{{#if layoutEditMode}}
    {{record-field-display-layout-edit-controls removeFieldAction="removeField" changeOrderUpAction="changeOrderUp" changeOrderDownAction="changeOrderDown"}}
{{/if}}