<h1>
    {{#if fieldValueReadOnly}}
        {{{fieldValueReadOnly}}}
    {{else}}
        [ {{model.record_field.name}} ]
    {{/if}}
</h1>

{{#if layoutEditMode}}
    {{record-field-display-layout-edit-controls removeFieldAction="removeField" changeOrderUpAction="changeOrderUp" changeOrderDownAction="changeOrderDown"}}
{{/if}}