<h4>{{{fieldValue}}}</h4>

{{#if layoutEditMode}}
    {{record-field-display-layout-edit-controls removeFieldAction="removeField" changeOrderUpAction="changeOrderUp" changeOrderDownAction="changeOrderDown"}}
{{/if}}