<div class="btn-group pull-right">
    <button class="btn btn-danger btn-xs" {{action "removeField"}}><i class="glyphicon glyphicon-remove"></i></button>
    <button class="btn btn-default btn-xs" {{action "changeOrderUp" "field"}}><i class="glyphicon glyphicon-chevron-up"></i></button>
    <button class="btn btn-default btn-xs" {{action "changeOrderDown" "field"}}><i class="glyphicon glyphicon-chevron-down"></i></button>
</div>