/**
 * Created by chshipma on 3/12/14.
 TEST TEST TEST
 */

.layoutArea{

  //TEST

  .editPalette,
  .record-field-display-layout-edit-controls-container,
  .insertButton,
  .editButton,
  .inlineEditButton{
    display: none;
  }


  &.editMode{
    .row, .col, .nav-tabs{
      border: dashed 1px #ffffff;
      position: relative;
      min-height: 50px;
      margin-bottom: 10px;
      padding-bottom: 35px;
      background: #ffffff;

      .insertButton,
      .editButton{
        display: block;
      }

      .inlineEditButton{
        display: inline-block;
      }

      &:hover{
        background: #fafafa;
        border: dashed 1px #d5d5d5;

        .editPalette{
          display: block;
        }
      }

      .editPalette{
        display: none;
        z-index: 100;
        position: absolute;
        right: 5px;
        bottom: 5px;

        .layoutCreation{
          &.rowButtons{
            display: inline-block;
            float: right;

            input[type=checkbox]{
              margin-top: 0px;
            }
          }
        }
      }

      .record-layout-field-display-type-container{
        position: relative;

        &:hover{
          .record-field-display-layout-edit-controls-container{
            display: block;
            z-index: 2;
          }
        }

        .record-field-display-layout-edit-controls-container{
          display: none;
          position: absolute;
          right: 0px;
          bottom: 0px;
          top: 0px;
          background: transparentize(black, 0.75);
          padding: 5px;

          .btn-group{
          }
        }
      }

    }
  }

  .fieldsetLayout{

    &.newRowPlaceholder{
      background: #fafafa;
      border: dashed 1px #d5d5d5;
      display: block;
      padding: 20px;
      width: auto;
      margin-top: 15px;
    }

  }

}
