.accountDetailsDL, .accountContributionsItem{
	dt{
		width:30%; //80px;
	}
	
	dd{
		margin-left: 33%; //100px;
	}
}

.accountContributionsItem{
	border-bottom: solid 1px transparentize(grey, 0.75);
	margin-bottom: 10px !important;
}