.multiselect{
  &.dropdown-toggle{
    &.btn{
      @include gradient-vertical( #e3e3e3, #fefefe );
      border: 1px solid darken(#FFFFFF, 0.8);
    }
  }
}

#usersFilterBar{
  .dropdown{
    &.active{
      a.dropdown-toggle{
        background: none !important;
        color: #777777 !important;
      }
    }
  }
}

.multiselect-container{
  a{
    padding: 6px 14px !important;
  }
  label.checkbox{
    margin-top:5px;
    margin-bottom:5px;
    padding-left: 15px;
    font-weight: normal;
  }
}

.recordsPerPageControl{
  display: inline !important;

  button, a{
    padding-bottom: 4px !important;
  }

  .dropdown-menu{
    margin-top: 28px;
  }
}

#save-menu{
  z-index: 100;
}


.form-group{
  &.single-field{
  }

  &.full-width{
    display: table;
    width: 100%;
  }
}

.modal-body{
  max-height: 600px;
  overflow: scroll;
}

.checkbox{
  &.single{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.singleTextFieldContainer, .fiscalOptionRow{
  .form-group{
    margin-bottom: 0px;
  }

  .cancelButton{
    margin-left: 10px;
  }
}


.list-detail-group{
  margin-bottom: 0px !important;

  .panel-heading{
    padding: 5px 10px;

    .panel-title{
      font-size: 90% !important;
    }
  }

  .panel-body{
    padding: 10px;
    font-size: 90%;
  }
}


.insertButtonGroup{
  position: absolute;
}
  .insertButton{
    position: absolute;
    left: -34px;
    top: -10px;

    &.right{
      &:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: inherit;
      }

      &.btn-xs:after{
        margin-top: -9px;
        border-width: 9px;
      }
    }

  }

.insertRowIndicator{
  padding-bottom: 0px !important;
  min-height: 0px !important;
}



/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;

  /* flip the pane when hovered */
  &:hover .flipper, &.hover .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    /* hide back of pane during swap */
    .front, .back {
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
    }


    /* front pane, placed above back */
    .front {
      z-index: 2;
    }

    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
    }
  }

}

.flip-container, .front, .back {
//  width: 320px;
  height: 16px;
}