#loginContainer{
	position: fixed;
	top: 0px;
	bottom:0px;
	right: 0px;
	left: 0px;
	
	@include gradient-vertical( darken(white,10%), white );
	background-color: white !important;
	
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
	padding-top: 60px;//5%;
	@include box-sizing(border-box);
	
	
	#loginBox{
		display: inline-block;
	}
	
}