<h1 class="loading" style="display: none">LOADING...</h1>

{{#with model as recordModel}}
    {{#with fullView.topLevelDefinitions controller="template-layout-field-list"}}
        {{#each arrangedContent}}
            {{record-layout-definition
                model=this
                layoutEditMode=false
                recordValueModel=recordModel
                recordEditMode=controller.recordEditMode
            }}
        {{/each}}
    {{/with}}
{{/with}}
